@if (juego_personaje.length ===0 ) {

  <app-loading></app-loading>

} @else {

  <div class='bg-base-200 mb-4 card card-side shadow-xl flex gap-4 flex-wrap justify-center p-4'>

    @for (item of juego_personaje; track item.id) {
  
      <div class="card bg-base-100 shadow-xl max-w-xs w-full">
        <figure>
          <img
            class='w-auto pt-4'
            src={{item.img_url}}
            alt={{item.nombre}}
            height="50"
            width="50"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{item.nombre}} {{item.id}}</h2>
          <p>{{item.descripcion}}</p>
        </div>
      </div>
  
    }
   
  </div>

}

