@for (item of (juego$ | async); track $index) {

<article class='mx-2'>
  <h1 class='card-body card-title bg-base-200 uppercase shadow-xl'>{{item.nombre}}</h1>

  <div class='my-2'>
    <button [routerLink]="['/game', item.id]" class='btn btn-ghost uppercase'>Juego</button>

    @if (item.cant_guias) {
    <button (click)="navGuide()" class='btn btn-ghost uppercase' href>Guia Time
      Line</button>
    }

    @if (item.cant_personaes) {
    <button (click)="navPersonaes()" class='btn btn-ghost uppercase' href>Personajes</button>
    }

    @if (item.cant_fuentes) {
    <button (click)="navSource()" class='btn btn-ghost uppercase' href>Fuentes</button>
    }
  </div>

  <p class='indent-8 p-4 bg-base-200 shadow-md mb-4'>{{item.descripcion}}</p>

  <div class="grid">
    <router-outlet></router-outlet>
  </div>
</article>

} @empty {

<app-loading></app-loading>

}
