 @if ((juego$ | async)?.length === 0) {

<app-loading/>

} @else {

<article class='mx-2'>
  <h1 class='card-body card-title bg-base-200 uppercase shadow-xl'>{{(juego$ | async)?.[0]?.nombre}}</h1>

  <div class='my-2'>
    <button [routerLink]="['/game', (juego$ | async)?.[0]?.id]" class='btn btn-ghost uppercase'>Juego</button>

    @if ((juego$ | async)?.[0]?.cant_guias) {
    <button (click)="navGuide()" class='btn btn-ghost uppercase' href>Guia Time Line</button>
    }

    @if ((juego$ | async)?.[0]?.cant_personaes) {
    <button (click)="navPersonaes()" class='btn btn-ghost uppercase' href>Personajes</button>
    }

    @if ((juego$ | async)?.[0]?.cant_fuentes) {
    <button (click)="navSource()" class='btn btn-ghost uppercase' href>Fuentes</button>
    }
  </div>

  <p class='indent-8 p-4 bg-base-200 shadow-md mb-4'>{{(juego$ | async)?.[0]?.descripcion}}</p>
  
  <div class="grid">
    @defer {
      <router-outlet></router-outlet>
    }
  </div>
</article>

}