<main class='card-body bg-base-200'>

  <h1 class="card-title uppercase">Bienbenidos !!!</h1>
  <p class="indent-4">Esta página nació porque cada vez que juego Chrono Cross y
    dejo el juego pendiente por mucho tiempo, ya no recuerdo en qué misión voy.</p>

  <img
    class="m-auto img_cover"
    src="assets/img/star_wars.gif"
    alt="Star Wars"
    height="700"
    width="700"
  />

  <img
    class="m-auto img_cover"
    src="assets/img/sin_guia.gif"
    alt="Star Wars"
    height="700"
    width="700"
  />

  <div class="pt-5 flex gap-4 m-auto">
    <a
      target="_blacnk" 
      href="https://www.twitch.tv/TheNefelin">
      <img
        class="h-12 w-12 img_cover"
        src="assets/img/twitch.png"
        alt="Twitch"
        height="150"
        width="150"
      />
    </a>
    <a
      target="_blacnk" 
      href="https://www.youtube.com/@TheNefelin">
      <img
        class="h-12 w-12 img_cover"
        src="assets/img/youtube.png"
        alt="Youtube"
        height="150"
        width="150"
      />
    </a>
    <a
      target="_blacnk" 
      href="https://www.francisco-dev.cl/">
      <img
        class="h-12 w-12 img_cover"
        src="assets/img/web.png"
        alt="Portafolio"
        height="150"
        width="150"
      />
    </a>
  </div>  

</main>