<span id="side_bar">

  @if ((juegos$ | async)?.length === 0) {
  <app-loading></app-loading>
  } @else {
  <ul class="bg-base-100 h-full menu menu-xs pr-0">
    @for (item of (juegos$ | async); track $index) {
    <li class='mb-2'>
      <a [routerLink]="['/game/', item.id]">
        <div class="avatar grid place-items-center">
          <div ng class="w-20 h-20 rounded-xl">
            <img
              class="img_cover_background"
              [src]="item.img_cover"
              alt={{item.nombre}}
              height="250"
              width="auto"
              priority>
          </div>
          <p>{{item.nombre}}</p>
        </div>
      </a>
    </li>
    }
  </ul>
  }

</span>
