@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SemiBold';
  src: url('assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('assets/fonts/Inter-Regular.ttf');
}

@media (width < 600px){
  html {
    font-size: 14px;
  }
}

html {
  font-family: 'SemiBold';
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}


p, a {
  font-family: 'Regular';
}

.flip_pokemon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.img_cover {
  object-fit: cover;
}

.img_cover_background {
  object-fit: cover;
  background-image: url("assets/img/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}