@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SemiBold';
  src: url('assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('assets/fonts/Inter-Regular.ttf');
}

@media (width < 600px){
  html {
    font-size: 14px;
  }
}

html {
  font-family: 'SemiBold';
}

p {
  font-family: 'Regular';
}

.flip_pokemon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
